@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #FFFFFF;
  --background-start-hex: #170E1B;
  --background-end-hex: #482B56;
}

body {
  color: var(--foreground-hex);
  background: linear-gradient(to bottom,
      var(--background-start-hex),
      var(--background-end-hex));
}