@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #FFFFFF;
  --background-start-hex: #170E1B;
  --background-end-hex: #482B56;
}

body {
  color: var(--foreground-hex);
  background: linear-gradient(to bottom,
      var(--background-start-hex),
      var(--background-end-hex));
}

#about,
#projects,
#stats {
  scroll-margin-top: 120px;
}

html {
  scroll-behavior: smooth;
}

.snowflake {
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: fall 10s linear forwards;
  z-index: 9999;
}

@keyframes fall {
  0% {
    transform: translate(-50%, -50%) translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

@media (max-width: 400px) {
  .snowflake {
    display: none;
  }
}